extends default

block content
  div.main
    p.result Result: 1538
    form(method="GET" action="/index")
      label(for="a")A
      input#a(type="text" name="a")
      p +
      label(for="b")B
      input#b(type="text" name="b")
      button(type="submit")Skicka
