extends default

block content
  div.main
    p.result #{a} + #{b} = #{result}
    form(method="GET" action="/")
      label(for="a") A
      input#a(type="text" name="a")
      p plus
      label(for="b") B
      input#b(type="text" name="b")
      button(type="submit") Skicka
